<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">我们希望能够帮助中小企业快速成长。</h2>
                <hr class="light">
                <p class="text-faded">我们团队由复旦大学计算机学院的毕业生创立，都曾在某世界最大的ERP企业工作过。<br/>我们对于中小企业的ERP实施的难点深有体会，希望能够切实帮助中小企业更好地进行管理。我们能够在短时间内针对您的企业流程开发一套量身定做、独一无二的ERP系统，并完成部署和投入使用。
                    <br/>做 ERP，我们是专业的。</p>
                <!-- <a href="#" class="btn btn-default btn-xl">看看我们的产品吧</a> -->
            </div>
        </div>
    </div>
</section>