<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>性价比最高的ERP系统</h1>
            <hr>
            <h3>需要一个月内完成开发和部署？没问题！</h3>
            <h3>我的企业一百多个人，想要一个性价比很高的ERP系统？很合适！</h3><hr>
            <p>{{site.product_name}} 是一套适用于中小型企业的 ERP 管理系统，可以快速根据您的具体需求进行部署，并已经有多次成功部署经验。不论您是小型工厂还是销售公司，通过我们为您在很短时间内实地考察并量身打造的 ERP 系统，可以让您公司各项数据了如指掌，决策分析更容易。</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">查看更多</a>
        </div>
    </div>
</header>