<section id="services" class="front-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Roku ERP系统使用视频</h2>
                <hr class="primary">
                <div class="embed-responsive embed-responsive-16by9">
                    <embed src="http://player.video.qiyi.com/a433989eb5ebffa2967776783632a7d5/0/0/w_19rz383hyd.swf-albumId=17883268809-tvId=17883268809-isPurchase=0-cnId=27"
                           allowFullScreen="true" quality="high" width="480" height="350" align="middle"
                           allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
                </div>
                <p>如果您的设备无法播放，请前往<a href="http://www.iqiyi.com/w_19rz383hyd.html" target="_blank">链接</a>观看。</p>
            </div>
        </div>
    </div>
</section>